/* heading */
h3 {
  text-align: center;
}
/* slider container */
.slider {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  margin: 40px auto;
  max-width: 600px;
}
/* image */
.slide-image {
  width: 100%;
  min-height: 200px;
  height: auto;
  max-height: 400px;
  padding: 10px;
  margin: 0 auto;
}
/* paragraph holding the count and number of the images */
p {
  text-align: center;
}
/* prev and next btns */
.btn {
  position: absolute;
  top: 50%;
  font-size: 80%;
  background-color: rgb(228, 231, 231);
  border: solid 1px rgb(201, 199, 199);
  padding: 5px;
  cursor: pointer;
}
/* prev btn */
.backward {
  left: 0px;
}
/* next btn */
.forward {
  right: 0px;
}

/** modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.649);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
/* close modal btn */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
}
/* modal content */
.modal-content {
  width: 100vw;
}
/* slider inside the modal */
.modal-content > .slider {
  max-width: initial;
  background-color: transparent;
}
.modal-content > .slider > .slide-image {
  width: 100%;
  max-width: 800px;
  display: block;
  min-height: initial;
  max-height: 500px;
  height: auto;
}
/*  paragraph holding the count and number of the images in the slider */
.modal-content p {
  color: #fff;
}
